package ${packagePrefix}service;

import ${packagePrefix}entity.${BeanName};
/**
 * @Description:
 * @author solar
 * @date ${Date}
 */
public interface ${BeanName}Service extends BaseService<${BeanName}> {


}